@media (max-width: 1024px){
    .center{
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2) ;
    }

    .main{
        &__game{
            gap: 24px;
            &-wrapper{
                height: 490px;
            }
                &:hover {
                    transform: scale(1.0);
                }
        }
    }
}

@media (min-width: 768px) and (max-width:833px){
    .center{
        padding-left: 24px;
        padding-right: 24px;
    }

        .main {
            &__game {
                &-wrapper {
                    width: 345px;
                }
            }
        }

}