*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

.header{
    background-image: url(img/headerback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
}